@use 'config' as *;


@mixin layout {





	//
	//	attribute grid spans
	//
	//	<div
	//		data-sm="span-12"
	//		data-md="span-6"
	//		data-lg="span-3"
	//  >
	//


	//
	//	layout
	//
	//	wrapping container to hold grid elements
	//	layout uses a half gap padding that together
	// 	with the grid element marging will form the
	// 	proper gap layout without having to worry about
	//	row breaks.
	//
	// 	the negative margin is used to counter that of
	//	a wrapping layout container to allow nested
	// 	grid elements to follow parrent grid
	//
	.layout {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		margin:  size(gap-half) * -1;
		padding: size(gap-half);
	}

	//	article is the main layout wrapper
	//	on all pages
	article {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		margin:  size(gap-half) * -1;
		padding: size(gap-half);
		
		width: 100%;
		min-height: 80vh;

		@include media(sm){
			margin: 10vh auto auto;
		}
		@include media(md){
			margin: auto;
		}
	}

	// 	header, section and footer are
	// 	grid items by default
	header, section, footer {
		padding: size(gap);
		margin: size(gap-half);
		width: grid-span(12);
		//	hide empty (no whitespace allowed) items on small devices
		// 	to prevent paddings etc. from creating empty scroll space
		&:empty { display: none;}
		@include media(md){
			&:empty { display: block; }
		}
		//	reduce kicker width if full width
		@include qq(equal 1){
			@include media(lg){
				.kicker { width: grid-span(6); }
			}
		}
	}
	//	sections autosize based how many are used
	// 	1  = full
	//	2  = half
	// 	3  = third
	//  4+ = half (new row)
	$not: ':not([data-sm*=span]):not([data-md*=span]):not([data-lg*=span]):not([class*="area"])';
	@include media(md){
		section {
			@include qq(equal 2){
				&#{$not} { width: grid-span(6); }
			}
			@include qq(from 4){
				&#{$not} { width: grid-span(6); }
			}
		}
	}
	@include media(md){
		section {
			@include qq(equal 3){
				&#{$not} { width: grid-span(4); }
			}
		}
	} 



	@include media(sm, md, lg){
		$bp: media-context();
		$cols: size(columns);
		@for $col from 1 through $cols {
			//	note! the :nth-child(n) selector is added to bump
			// 	specificity to compeate with quantity queries used
			// 	to autolayout sections (see later)
			[data-#{$bp}~=span-#{$col}] {
				width: grid-span($col, $cols);
			}
		}

		[data-#{$bp}*=span]:not(.layout){
			padding: size(gap);
			margin: size(gap-half);
		}

		[data-#{$bp}~=hide]{
			display: none;
		}
		[data-#{$bp}~=show]{
			display: initial;
			display: unset;
		}

	}




	//	temporary sollution
	//	find a way to deal with specificity
	.card-center {
		width: grid-span(7)
	}



	.push-left   { margin-right: auto; }
	.push-center { margin-right: auto; margin-left: auto; }
	.push-right  { margin-left: auto; }


	//	section aign
	section {

		//	vertical

		&.bottom-right {
			margin-left: auto;
			margin-top: auto;
			justify-self: flex-end;
			align-self: flex-end;
		}
		&.center {
			margin: auto;
			justify-self: center;
			align-self: center;
		}
		/*
		&.top-left, &.top, &.top-right{
			align-self: flex-start;
			margin-bottom: auto;
		}
		&.left, &.center, &.right{
			align-self: center;
			margin-top: auto;
			margin-bottom: auto;
		}
		&.bottom-left, &.bottom, &.bottom-right{
			align-self: flex-end;
			margin-bottom: auto;
		}

		//	horizontal
		&.top-left, &.left, &.bottom-left{
			justify-self: flex-start;
			margin-right: auto;
		}
		&.top, &.center, &.bottom{
			justify-self: center;
			margin-left: auto;
			margin-right: auto;
		}
		&.top-right, &.right, &.bottom-right{
			justify-self: flex-end;
			margin-left: auto;
		}
		*/



	}


	// section.horizontal-center {
	// 	justify-self: center;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }
	// section.horizontal-left {
	// 	justify-self: flex-start;
	// 	margin-right: auto;
	// }
	// section.horizontal-right {
	// 	justify-self: flex-start;
	// 	margin-left: auto;
	// }

	// section.vertical-center {
	// 	align-self: center;
	// 	margin-top: auto;
	// 	margin-bottom: auto;
	// }
	// section.vertical-top {
	// 	align-self: flex-start;
	// 	margin-bottom: auto;
	// }
	// section.vertical-bottom {
	// 	align-self: flex-end;
	// 	margin-top: auto;
	// }

	// section.align-center {
	// 	justify-self: center;
	// 	align-self: center;
	// 	margin: auto;
	// }






	// // ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	// //
	// //	Layout version 2
	// //
	// // ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––



	// [class*=layout-a],
	// [class*=layout-b],
	// [class*=layout-c],
	// [class*=layout-d],
	// [class*=layout-e],
	// [class*=layout-f],
	// [class*=layout-g],
	// [class*=layout-h],
	// [class*=layout-i] {
		
	// 	display: grid;
	// 	grid-template-columns: repeat(6, 1fr);
	// 	grid-template-rows: repeat(2, 1fr);
	// 	margin:  auto;
	// 	padding: size(gap-half);

	// 	width: 100%;
	// 	min-height: 80vh;


	// 	--offset-x: calc(-10vw - .5rem);
	// 	--offset-y: calc(-10vh - .5rem);
	// 	@include media(md) {
	// 		--offset-x: calc(-10vw / 2 - .5rem);
	// 	}
	// 	@include media(lg) {
	// 		--offset-x: calc(-10vw - .5rem);
	// 	}
		

	// }	

	// .layout-offset {
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	z-index: -1;
	// 	max-height: 50vh; 
	// 	&:not([class*=theme-]){
	// 		background-color: inherit;
	// 	}
	// }
	
	// //	–––––––––––––––––––––––––––––
	// //	1 Area
	// //	–––––––––––––––––––––––––––––
	// .layout-a1 {
	// 	.area-a { 
	// 		grid-column: 1 / -1; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); bottom: var(--offset-y); left: var(--offset-x);  max-height: 100vh; ;}
	// 	}
	// 	.area-b,.area-c,.area-d,.area-e,.area-f { display: none; }
	// }

	// //	–––––––––––––––––––––––––––––
	// //	2 Areas
	// //	–––––––––––––––––––––––––––––
	// .layout-a2 {
	// 	.area-a { 
	// 		grid-column: 1 / span 3; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); bottom: var(--offset-y); left: var(--offset-x); max-height: 100vh; }
	// 	}
	// 	.area-b { 
	// 		grid-column: 4 / span 3; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; ;}
	// 	}

	// 	.area-c,.area-d,.area-e,.area-f { display: none; }

	// }
	// .layout-b2 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); bottom: var(--offset-y); left: var(--offset-x); max-height: 100vh; }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 4; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; ;}
	// 	}
	// 	.area-c,.area-d,.area-e,.area-f { display: none; }
	// }
	// .layout-c2 {
	// 	.area-a { 
	// 		grid-column: 1 / span 4; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); bottom: var(--offset-y); left: var(--offset-x); max-height: 100vh; }
	// 	}
	// 	.area-b { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; }
	// 	}
	// 	.area-c,.area-d,.area-e,.area-f { display: none; }
	// }
	// .layout-d2 {
	// 	.area-a { 
	// 		grid-column: 1 / -1; 
	// 		grid-row: 1;
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); left: var(--offset-x); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 1 / -1;
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x); left: var(--offset-x); }
	// 	}
	// 	.area-c,.area-d,.area-e,.area-f { display: none; }
	// }

	// //	–––––––––––––––––––––––––––––
	// //	3 Areas
	// //	–––––––––––––––––––––––––––––
	// .layout-a3 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); bottom: var(--offset-y); max-height: 100vh; }
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; }
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }

	// .layout-b3 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x);  }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 4; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; }			
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x); }
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }
	// .layout-c3 {
	// 	.area-a { 
	// 		grid-column: 1 / span 4; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x);}
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }
	// .layout-d3 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 4; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 3 / span 4; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x);}
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }
	// .layout-e3 {
	// 	.area-a { 
	// 		grid-column: 1 / span 4; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); bottom: var(--offset-y); right: var(--offset-x); max-height: 100vh; }	
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / span 4; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x); }	
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }
	// .layout-f3 {
	// 	.area-a { 
	// 		grid-column: 1 / span 3; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); bottom: var(--offset-y); max-height: 100vh; }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 4 / span 3; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 4 / span 3; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x);}
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }
	// .layout-g3 {
	// 	.area-a { 
	// 		grid-column: 1 / span 3; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 4 / span 3; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top: var(--offset-y); bottom: var(--offset-y); right: var(--offset-x); max-height: 100vh; }	
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / span 3; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x); }	
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }	
	// .layout-h3 {
	// 	.area-a { 
	// 		grid-column: 1 / -1; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); right: var(--offset-x);  }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 1 / span 3; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 4 / span 3; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x);}
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }
	// .layout-i3 {
	// 	.area-a { 
	// 		grid-column: 1 / span 3; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x);  }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 4 / span 3; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / -1; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y);left: var(--offset-x); right: var(--offset-x);  }
	// 	}
	// 	.area-d,.area-e,.area-f { display: none; }
	// }	
	

	// //	–––––––––––––––––––––––––––––
	// //	4 Areas
	// //	–––––––––––––––––––––––––––––
	// .layout-a4 {
	// 	.area-a { 
	// 		grid-column: 1 / span 3; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 4 / span 3; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); }	
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / span 3; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x); }	
	// 	}
	// 	.area-d { 
	// 		grid-column: 4 / span 3; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x); }	
	// 	}		
	// 	.area-e,.area-f { display: none; }
	// }	

	// .layout-b4 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 4; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); }
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 3 / span 4; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x); }	
	// 	}		
	// 	.area-e,.area-f { display: none; }
	// }	
	
	// .layout-c4 {
	// 	.area-a { 
	// 		grid-column: 1 / span 4; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); }	
	// 	}
	// 	.area-b { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); }
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / span 4; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 2;
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x); }	
	// 	}	
	// 	.area-e,.area-f { display: none; }	
	// }	
	// .layout-d4 {
	// 	.area-a { 
	// 		grid-column: 1 / -1; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); right: var(--offset-x); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x);   }
	// 	}
	// 	.area-c { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y);  }
	// 	}
	// 	.area-d { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); right: var(--offset-x); }
	// 	}	
	// 	.area-e,.area-f { display: none; }	
	// }	
	// .layout-e4 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); left: var(--offset-x); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); }
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); right: var(--offset-x); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 1 / -1; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); left: var(--offset-x); right: var(--offset-x); }
	// 	}	
	// 	.area-e,.area-f { display: none; }	
	// }				

	// //	–––––––––––––––––––––––––––––
	// //	5 Areas
	// //	–––––––––––––––––––––––––––––
	// .layout-a5 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { left: var(--offset-x); top: var(--offset-y); bottom: var(--offset-y); max-height: 100vh; }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); }
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { right: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { bottom: var(--offset-y); }
	// 	}	
	// 	.area-e { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { right: var(--offset-x); bottom: var(--offset-y); }
	// 	}	
	// 	.area-f { display: none; }			
	// }	
	// .layout-b5 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { left: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { top:var(--offset-y); bottom: var(--offset-y);  max-height: 100vh; }
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { right: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { left: var(--offset-x); bottom:var(--offset-y);; }
	// 	}	
	// 	.area-e { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { right: var(--offset-x); bottom: var(--offset-y); }
	// 	}				
	// }	
	// .layout-c5 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { left: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset {   top: var(--offset-y);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { right: var(--offset-x); top: var(--offset-y); bottom: var(--offset-y); max-height: 100vh; }
	// 	}
	// 	.area-d { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { left: var(--offset-x); bottom: var(--offset-y); }
	// 	}	
	// 	.area-e { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset {   bottom: var(--offset-y);}
	// 	}	
	// 	.area-f { display: none; }						
	// }	
	// .layout-d5 {
	// 	.area-a { 
	// 		grid-column: 1 / span 4; 
	// 		grid-row: 1; 
	// 		.layout-offset { left: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset {   top: var(--offset-y);  right: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { left: var(--offset-x);   bottom: var(--offset-y); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset {  bottom: var(--offset-y); }
	// 	}	
	// 	.area-e { 
	// 		grid-column: 5 / span 2;  
	// 		grid-row: 2; 
	// 		.layout-offset {   right: var(--offset-x); bottom: var(--offset-y);}
	// 	}
	// 	.area-f { display: none; }							
	// }	
	// .layout-e5 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { left: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 4; 
	// 		grid-row: 1; 
	// 		.layout-offset {   top: var(--offset-y);  right: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { left: var(--offset-x);   bottom: var(--offset-y); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset {  bottom: var(--offset-y); }
	// 	}	
	// 	.area-e { 
	// 		grid-column: 5 / span 2;  
	// 		grid-row: 2; 
	// 		.layout-offset {   right: var(--offset-x); bottom: var(--offset-y);}
	// 	}
	// 	.area-f { display: none; }							
	// }	
	// .layout-f5 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { left: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset {   top: var(--offset-y);  right: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { right: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 1 / span 4; 
	// 		grid-row: 2; 
	// 		.layout-offset {  left: var(--offset-x);  bottom: var(--offset-y); }
	// 	}	
	// 	.area-e { 
	// 		grid-column: 5 / span 2;  
	// 		grid-row: 2; 
	// 		.layout-offset {  right: var(--offset-x); bottom: var(--offset-y);}
	// 	}
	// 	.area-f { display: none; }							
	// }	
	// .layout-g5 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { left: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset {   top: var(--offset-y);  right: var(--offset-x);}
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { right: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset {  left: var(--offset-x);  bottom: var(--offset-y); }
	// 	}	
	// 	.area-e { 
	// 		grid-column: 3 / span 4;  
	// 		grid-row: 2; 
	// 		.layout-offset {  right: var(--offset-x); bottom: var(--offset-y);}
	// 	}
	// 	.area-f { display: none; }							
	// }		


	// //	–––––––––––––––––––––––––––––
	// //	6 Areas
	// //	–––––––––––––––––––––––––––––
	// .layout-a6 {
	// 	.area-a { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 1 / -1; 
	// 		.layout-offset { left: var(--offset-x); top: var(--offset-y);  }
	// 	}
	// 	.area-b { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { top: var(--offset-y); }
	// 	}
	// 	.area-c { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 1; 
	// 		.layout-offset { right: var(--offset-x); top: var(--offset-y); }
	// 	}
	// 	.area-d { 
	// 		grid-column: 1 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { left: var(--offset-x); bottom: var(--offset-y); }
	// 	}	
	// 	.area-e { 
	// 		grid-column: 3 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset {  bottom: var(--offset-y); }
	// 	}	
	// 	.area-f { 
	// 		grid-column: 5 / span 2; 
	// 		grid-row: 2; 
	// 		.layout-offset { right: var(--offset-x); bottom: var(--offset-y); }
	// 	}	
	// }	


	// [class*=flex] { display: flex; }
	// [class*=flex][class*=col] { 
	// 	flex-direction: column;
	// }
	// [class*=flex][class*=col][class*=top]{ 
	// 	justify-content: flex-start;
	// }
	// [class*=flex][class*=col][class*=mid]{ 
	// 	justify-content: center;
	// }	
	// [class*=flex][class*=col][class*=bot]{ 
	// 	justify-content:  flex-end;
	// }		
	// [class*=flex][class*=col][class*=center]{ 
	// 	align-items: center;
	// }	


	// [class*=layout-] {
	// 	//	override old layout widths
	// 	.area-a, .area-b, .area-c,
	// 	.area-d, .area-e, .area-f { width: initial; margin: 0;  }


	// 	.area-a, .area-b, .area-c,
	// 	.area-d, .area-e, .area-f { &.top { align-self: start; } }
	// 	.area-a, .area-b, .area-c,
	// 	.area-d, .area-e, .area-f { &.mid { align-self: center; } }
	// 	.area-a, .area-b, .area-c,
	// 	.area-d, .area-e, .area-f { &.bot { align-self: end; } }

	// }
}


//
//	grid span helper
//
@function grid-span($span, $cols: 12) {
	$gap: size(gap);
	@return calc((100% - #{$cols * $gap}) * #{$span}/#{$cols} + #{($span - 1) * $gap});
}





//  ·············································································
//
// Quantity Query
//
//
// ol li {
//
// 		@include qq(min 3)       	3 or more items
// 		@include qq(from 3) 		3 or more items
// 		@include qq(at least 3)  	3 or more items
//
// 		@include qq(max 5) 			5 or less items
// 		@include qq(max 5) 			5 or less items
// 		@include qq(at most 5)   	5 or less items
//
// 		@include qq(equal 4)     	exactly 4 items
// 		@include qq(exactly 4)   	exactly 4 items
//
// 		@include qq(min 3 max 5)  	between 3 and 5 items
// 		@include qq(from 3 to 5)  	between 3 and 5 items
// 		@include qq(at least 3 at most 5)  has between 3 and 5 items
//
// }
// ································································
@mixin qq($query){
    $equal: index-some($query, equal, exactly);
    $min: index-some($query, min, least, from) or $equal;
    $min: if($min, nth($query, $min + 1), null);
    $max: index-some($query, max, most, to) or $equal;
    $max: if($max, nth($query, $max + 1), null);
    $list:();
    $last: null;
    @each $selector in & {
        @each $a, $b, $c, $d, $e, $f, $g, $h, $i, $j, $k, $l, $m, $n, $o, $p, $q, $r, $s, $t, $u, $v, $w, $x, $y, $z in $selector {
            $list: append($list, $a $b $c $d $e $f $g $h $i $j $k $l $m $n $o $p $q $r $s $t $u $v $w $x $y $z);
        }
        $last: nth($list, length($list));
    }
    @if $min and $max {
        &:nth-last-of-type(n+#{$min}):nth-last-of-type(-n+#{$max}):first-of-type,
        &:nth-last-of-type(n+#{$min}):nth-last-of-type(-n+#{$max}):first-of-type ~ #{$last} { @content; }
    }
    @else if $min {
        &:nth-last-of-type(n+#{$min}),
        &:nth-last-of-type(n+#{$min}) ~ #{$last} { @content; }
    }
    @else if $max {
        &:nth-last-of-type(-n+#{$max}):first-of-type,
        &:nth-last-of-type(-n+#{$max}):first-of-type ~ #{$last} { @content; }
    }
}
@function index-some($list, $values...){
    @each $value in $values { @if index($list, $value){ @return index($list, $value); } }
    @return null;
}