// -----------------------------------------------------------------------------
// Icon Component
// -----------------------------------------------------------------------------
// @use '../frankly/font';
// @use '../frankly/theme';
@use '../../frankly/comp';


// arrow-right
// arrow-left
// close


@mixin icon {
    @include comp.create('icon') {

        @at-root :where(&) {

            // default values 
            font: inherit; // without it, it will not inherit it from the button comp
        }

        // styling
        display: block;
        width: 1em;
        height: 1em;
        // margin:0; // to reset the margin when adding font-size to it
        margin: auto; // to center icon in container

        z-index:1;
        background-repeat: no-repeat;
        background-position: center;
    }

}


// -----------------------------------------------------------------------------
// Icon Sizes
// -----------------------------------------------------------------------------

@mixin icon--sizes {
    @include comp.create('icon', 'sm') {
        width: 1em;
        height: 1em;
    }

    @include comp.create('icon', 'md') {
        width: 1.5em;
        height: 1.5em;

    }

    @include comp.create('icon', 'lg') {
        width: 2em;
        height: 2em;
    }
}


// -----------------------------------------------------------------------------
// Icon Color Variations
// -----------------------------------------------------------------------------

@mixin icon--white {
    @include comp.create('icon', 'white') {
        filter: invert(1)
    }
}

@mixin icon--red {
    @include comp.create('icon', 'red') {
        filter: invert(25%) sepia(69%) saturate(2400%) hue-rotate(348deg) brightness(83%) contrast(119%);
    }
}


// -----------------------------------------------------------------------------
// Icon Arrow Variations
// -----------------------------------------------------------------------------

@mixin icon--arrow {

    @include comp.create('icon', 'arrow-up') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38 27.0993L35.3191 30L20.9215 14.4055L19.0786 14.4055L4.66558 30L2 27.0993L17.8038 10L22.1809 10L38 27.0993Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-down') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12.9007L4.68086 10L19.0785 25.5945L20.9214 25.5945L35.3344 10L38 12.9007L22.1962 30L17.8191 30L2 12.9007Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-left') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.0993 2L30 4.68086L14.4055 19.0785V20.9214L30 35.3344L27.0993 38L10 22.1962V17.8191L27.0993 2Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-right') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9007 2L10 4.68086L25.5945 19.0785V20.9214L10 35.3344L12.9007 38L30 22.1962V17.8191L12.9007 2Z' fill='black'/%3E%3C/svg%3E%0A");
    }
}


// -----------------------------------------------------------------------------
// Icon Close 
// -----------------------------------------------------------------------------

@mixin icon--close {
    @include comp.create('icon', 'close') {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.5388 0L34.5441 2.0053L21.5 15.4787V19.4205L35 32.5388L32.9946 34.5441L19.5594 21.5H15.5415L2.46121 34.9999L0.455868 32.9946L13.5 19.5321V15.5066L0 2.46113L2.00534 0.455836L15.5195 13.5H19.4689L32.5388 0Z' fill='black'/%3E%3C/svg%3E%0A");
    }
}


// -----------------------------------------------------------------------------
// Icon Menu 
// -----------------------------------------------------------------------------

@mixin icon--menu {
    @include comp.create('icon', 'menu') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 10V12.5H37.5V10H2.5Z' fill='black'/%3E%3Cpath d='M2.5 10V12.5H37.5V10H2.5Z' fill='black'/%3E%3Cpath d='M2.5 18.5V21H37.5V18.5H2.5Z' fill='black'/%3E%3Cpath d='M2.5 18.5V21H37.5V18.5H2.5Z' fill='black'/%3E%3Cpath d='M37.5 27V29.5H2.5V27H37.5Z' fill='black'/%3E%3Cpath d='M37.5 27V29.5H2.5V27H37.5Z' fill='black'/%3E%3C/svg%3E%0A");    }
}
