// -----------------------------------------------------------------------------
// Icon Component
// -----------------------------------------------------------------------------
@use '../frankly/font';
@use '../frankly/theme';
@use '../frankly/comp';


// arrow-right done
// arrow-left
// stroke-right
// stroke-left
// video-open
// close


@mixin icon {
    @include comp.create('icon') {

        @at-root :where(&) {

            // default values 
            font: inherit; // without it, it will not inherit it from the button comp
        }

        // assign variables
        &[data-font*="-"],
        // all font-sizes have dash, except base
        &[data-font-mobile*="-"],
        &[data-font-tablet*="-"],
        &[data-font-desktop*="-"],
        &[data-font*="base"],
        &[data-font-mobile*="base"],
        &[data-font-tablet*="base"],
        &[data-font-desktop*="base"] {
            font-size: var(--🔤-font-size);
        }

        // styling
        display: block;
        width: 1em;
        height: 1em;
        margin:0; // to reset the margin when adding font-size to it

        z-index:1;
        background-repeat: no-repeat;
        background-position: center;
    }

}


// -----------------------------------------------------------------------------
// Icon Sizes
// -----------------------------------------------------------------------------

@mixin icon--sizes {
    @include comp.create('icon', 'sm') {
        width: 1em;
        height: 1em;
    }

    @include comp.create('icon', 'md') {
        width: 1.5em;
        height: 1.5em;

    }

    @include comp.create('icon', 'lg') {
        width: 2em;
        height: 2em;
    }
}


// -----------------------------------------------------------------------------
// Icon Color Variations
// -----------------------------------------------------------------------------

@mixin icon--white {
    @include comp.create('icon', 'white') {
        filter: invert(1)
    }
}

@mixin icon--red {
    @include comp.create('icon', 'red') {
        filter: invert(25%) sepia(69%) saturate(2400%) hue-rotate(348deg) brightness(83%) contrast(119%);
    }
}


// -----------------------------------------------------------------------------
// Icon Arrow Variations
// -----------------------------------------------------------------------------

@mixin icon--arrow {

    @include comp.create('icon', 'arrow-up') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38 27.0993L35.3191 30L20.9215 14.4055L19.0786 14.4055L4.66558 30L2 27.0993L17.8038 10L22.1809 10L38 27.0993Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-down') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12.9007L4.68086 10L19.0785 25.5945L20.9214 25.5945L35.3344 10L38 12.9007L22.1962 30L17.8191 30L2 12.9007Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-left') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.0993 2L30 4.68086L14.4055 19.0785V20.9214L30 35.3344L27.0993 38L10 22.1962V17.8191L27.0993 2Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-right') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9007 2L10 4.68086L25.5945 19.0785V20.9214L10 35.3344L12.9007 38L30 22.1962V17.8191L12.9007 2Z' fill='black'/%3E%3C/svg%3E%0A");
    }
}

@mixin icon--arrow-long {
    @include comp.create('icon', 'arrow-long-up') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29016 9.82211L8.54016 11.9847L17.4402 6.84711L18.7027 8.10962V37.4971H21.2027V7.95962L22.3652 6.79713L31.4152 11.9471L32.6527 9.77214L19.9153 2.53467L7.29016 9.82211Z' fill='black'/%3E%3Cpath d='M7.29016 9.82211L8.54016 11.9847L17.4402 6.84711L18.7027 8.10962V37.4971H21.2027V7.95962L22.3652 6.79713L31.4152 11.9471L32.6527 9.77214L19.9153 2.53467L7.29016 9.82211Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-long-down') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.7098 30.1779L31.4598 28.0153L22.5598 33.1529L21.2973 31.8904L21.2973 2.50288H18.7973L18.7973 32.0404L17.6348 33.2029L8.58479 28.0529L7.3473 30.2279L20.0847 37.4653L32.7098 30.1779Z' fill='black'/%3E%3Cpath d='M32.7098 30.1779L31.4598 28.0153L22.5598 33.1529L21.2973 31.8904L21.2973 2.50288H18.7973L18.7973 32.0404L17.6348 33.2029L8.58479 28.0529L7.3473 30.2279L20.0847 37.4653L32.7098 30.1779Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-long-left') {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.7098 30.1779L31.4598 28.0153L22.5598 33.1529L21.2973 31.8904L21.2973 2.50288H18.7973L18.7973 32.0404L17.6348 33.2029L8.58479 28.0529L7.3473 30.2279L20.0847 37.4653L32.7098 30.1779Z' fill='black'/%3E%3Cpath d='M32.7098 30.1779L31.4598 28.0153L22.5598 33.1529L21.2973 31.8904L21.2973 2.50288H18.7973L18.7973 32.0404L17.6348 33.2029L8.58479 28.0529L7.3473 30.2279L20.0847 37.4653L32.7098 30.1779Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include comp.create('icon', 'arrow-long-right') {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='26' viewBox='0 0 35 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.6875 0.347122L25.525 1.59712L30.6625 10.4971L29.4 11.7596L0 11.7596L0 14.2596L29.55 14.2596L30.7 15.4221L25.5625 24.4721L27.7375 25.7096L34.975 12.9721L27.6875 0.347122Z' fill='black'/%3E%3C/svg%3E%0A");
    }

}


// -----------------------------------------------------------------------------
// Icon Stroke Variations
// -----------------------------------------------------------------------------

@mixin icon--stroke {
    @include comp.create('icon', 'stroke-left') {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.03878 2.35074C1.36256 11.7963 5.77796 29.8774 30.6612 30.7826' stroke='black' stroke-width='3.59412' stroke-linecap='round'/%3E%3C/svg%3E");
        right: -4em;
        bottom: -5em;
    }

    @include comp.create('icon', 'stroke-right') {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.4023 2.35074C32.0785 11.7963 27.6631 29.8774 2.77982 30.7826' stroke='black' stroke-width='3.59412' stroke-linecap='round'/%3E%3C/svg%3E");
        left: -4em;
        bottom: -5em;
    }
}


// -----------------------------------------------------------------------------
// Icon Close Variations
// -----------------------------------------------------------------------------

@mixin icon--close {
    @include comp.create('icon', 'close') {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.5388 0L34.5441 2.0053L21.5 15.4787V19.4205L35 32.5388L32.9946 34.5441L19.5594 21.5H15.5415L2.46121 34.9999L0.455868 32.9946L13.5 19.5321V15.5066L0 2.46113L2.00534 0.455836L15.5195 13.5H19.4689L32.5388 0Z' fill='black'/%3E%3C/svg%3E%0A");
    }
}


// -----------------------------------------------------------------------------
// Icon Video Variations
// -----------------------------------------------------------------------------

@mixin icon--video {
    @include comp.create('icon', 'video') {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M63.5 42.9019C65.5 44.0566 65.5 46.9434 63.5 48.0981L38.75 62.3875C36.75 63.5422 34.25 62.0988 34.25 59.7894L34.25 31.2106C34.25 28.9012 36.75 27.4578 38.75 28.6125L63.5 42.9019Z' fill='black'/%3E%3Ccircle cx='45' cy='45' r='43.5' stroke='black' stroke-width='3'/%3E%3C/svg%3E");
    }

    @include comp.create('icon', 'video-full') {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26.5168' cy='26.5168' r='26.5168' fill='white'/%3E%3Cpath d='M34.6959 27.518L21.6356 36.8667C20.9044 37.3901 19.8876 36.8675 19.8876 35.9683V16.6031C19.8876 15.6871 20.9381 15.169 21.6649 15.7264L34.7252 25.7429C35.3138 26.1944 35.2991 27.0862 34.6959 27.518Z' fill='%23E1000F'/%3E%3C/svg%3E%0A");
    }
}