@use "../base/config" as *;

@use "../frankly/comp";
@use '../frankly/theme';
@use '../frankly/font';


//	–––––––––––––––––––––––––––––––––––––––––––––––––––––––
//	Overlay component
//	–––––––––––––––––––––––––––––––––––––––––––––––––––––––

@mixin overlay {
	@include comp.create(overlay) {
		background-color: rgba(0, 0, 0, 0.633);
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		inline-size: 300vw;
		block-size: 300vh !important;
		margin-left: -100vw;
		margin-top: -100vh;

		// Animation
		transition: .4s;
		opacity: 0;

		// State
		&.active {
			visibility: visible;
			opacity: 1;
		}

		>* {
			display: grid;
		}

		z-index: var(--z, 0);
	}
}

@mixin overlay--dark {
	@include comp.create(overlay, dark) {
		background-color: rgba(0, 0, 0, 0.9);
	}
}