
@use "../base/config" as *;

//	–––––––––––––––––––––––––––––––––––––––––––––––––––––––
//	Quiz
//	–––––––––––––––––––––––––––––––––––––––––––––––––––––––

@mixin quiz {
	$brand: "vrm";

	/* ------ */
	/* Layout */
	/* ------ */

	// .page > main {
	// 	overflow: hidden;
	// }

	.quiz {
		margin: 0 auto;
		width: 100%;
		height: 65vh;

		/* tablet */
		@include media(md) {
			width: 80% !important;
		}

		/* desktop */
		@include media(lg) {
			width: 65% !important;
		}

		/* ---------- */
		/* Pagination */
		/* ---------- */

		.pagination {
			color: white;
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			margin-bottom: -4rem;
		}

		.pagination-top {
			color: white;
			position: absolute;
			top: 0;
			width: 100%;
			text-align: center;
			margin-top: -2rem;
			display: none;
		}

		.pagination-top.pulse {
			opacity: 1;
			animation: pulse 1.5s infinite;
		}

		@keyframes pulse {
			0% {
				transform: scale(0.95);
			}

			50% {
				transform: scale(1.05);
			}

			100% {
				transform: scale(0.95);
			}
		}

		.pagination-top.active {
			display: block;
		}

		/* -------------- */
		/* Mobile-Desktop */
		/* -------------- */

		.mobile {
			display: block;
		}

		.desktop {
			display: none !important;
		}

		@include media(md) {
			.mobile {
				display: none;
			}
		}

		@include media(lg) {
			.desktop {
				display: grid !important;
			}

		}
	}

	/* desktop */
	@include media(md) {
		.character-image-slidein {
			width: 30%;
			position: absolute;
			top: -10%;
			right: 28%;
		}
	}

	/* desktop-lg */
	@include media(lg) {
		.character-image-slidein {
			right: 18%;
		}
	}

	/* desktop-lg */
	@include media(xl) {
		.character-image-slidein {
			right: 12%;
		}
	}

	/* ------------ */
	/* Card styling */
	/* ------------ */

	// SHOULD STAY IN THE QUIZ

	/* if card is datacorrect true, the nested false response should be hidden */
	[data-correct="true"] [data-correct="false"],
	[data-correct="false"] [data-correct="true"] {
		display: none;
		pointer-events: none;
	}

	/* if card has no datacorrect button is disabled */
	// .card.regular:not([data-correct]) button {
	// 	pointer-events: none;
	// 	background: #eeeeee;
	// 	color: #999999;
	// }

	.slide-in-image.discarded {
		display: none !important;
	}

	/* ----- */
	/* Swipe */
	/* ----- */

	/* if card is datacorrect true, the following swipeanswer should be hidden */
	.swipe[data-correct="true"]+.swipe-answer div[data-correct="false"],
	.swipe[data-correct="false"]+.swipe-answer div[data-correct="true"] {
		display: none;
		pointer-events: none;
	}

	.overlay {
		background: rgba(0, 0, 0, 0.95);
		width: 300vw;
		height: 300vh;
		margin-left: -100vw;
		margin-top: -100vh;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transition: 0.4s;
		opacity: 0;
	}

	.card.swipe.discarded+.swipe-answer .overlay {
		opacity: 1;
	}

	.bubble {
		background-color: color('brand');
		color:  color('white');
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1em;
		width: 4em;
		height: 4em;
		line-height: 2em;
		/* --opacity: calc(var(--swipe-pct) * 2); */
		opacity: var(--opacity, 0);

		z-index: 99;
	}

	[data-direction="left"] .bubble {
		background-color: black;
	}

	[data-direction="left"] .bubble::before {
		content: "NO";
	}

	[data-direction="right"] .bubble {
		background-color:  color('brand');
	}

	[data-direction="right"] .bubble::before {
		content: "YES";
	}

	.card:not(.discarded)+.card {
		transform: translateY(4%) scale(0.96);
	}

	.card:not(.discarded)+.card+.card {
		transform: translateY(8%) scale(0.92);
	}

	/* ---------- */
	/* Animations */
	/* ---------- */

	@media (max-width: 35rem) {

		.inner .front fieldset,
		.inner .front .front-inner {
			opacity: 0;



			&.appear {
				transition: 0.5s ease-in;
				opacity: 1;
			}
		}

		.disappear {
			transform: scale(0);
		}


	}

	@media (min-width: 35rem) {
		.character-image-slidein {
			transition: 0.2s ease-in;
			opacity: 0;
			pointer-events: none;
		}

		// temporary fix for quiz-card-swipe slidein image
		.character-image-slidein.discarded {
			transform: translate(-100px, 0px);
		}


		.slide-in {
			opacity: 1;
			transform: translate(220px, 0px);
		}

		.card.flipped .slide-in {
			opacity: 0;
		}
	}

	@media (min-width: 55rem) {
		.noevent {
			pointer-events: none;
		}

		.card.active button,
		.card.discarded+.card button {
			pointer-events: all;
		}
	}
}